body {

  margin: 0;

  font-family: Arial;

  background: #f2f2f2;

  padding: 20px;
}

h1 {

  text-align: center;
}

.card {

  background: white;

  padding: 15px;

  margin: 10px auto;

  max-width: 500px;

  border-radius: 10px;

  box-shadow:
  0 0 10px rgba(0,0,0,0.1);
}